
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    
  }
  
.vinyl
{
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 300px;
    background-color: white;
    border: 1px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

.divImg
{
  position: relative;
  height: 100%;
	width: 100%;
}

.divInfo
{
  display: flex;
  flex-direction: column;
 
}

.image{
  
  max-width: 100%;
  max-height: 100%;
  object-fit:fill;

}

.name{
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}

.performer
{
    font-size: 20px;
    text-align: center;
}

.price
{
    font-size: 20px;
    font-weight: bold;
    text-align: right;
}

.vinArr
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 25px;
    padding-left: 100px;
}

.shopTitle
{
    font-size: 40px;
    text-align: center;
    text-shadow: 2px 2px 5px red;
    flex-grow: 1;
}

.searchDiv {
    background-color: #f1f1f1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-basis: 200px;
    position: relative;
  }

.searchDiv label{
    align-self: center;
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 15px;

  }

  .searchDiv input, .select{
    align-self: center;
    width: 300px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  padding: 10px 20px 10px 20px;
  
  } 

  .searchBtt, .refreshBtt, .sortBtt
  {
    align-self: center;
    margin-top: 40px;
    font-size: 20px;
    padding: 10px 30px 10px 30px;
    background-color: rgb(240, 92, 6);
    border-radius: 12px;
  }

  .sortBtt{
    margin-top: 0px;
  }

  .searchBtt:hover , .refreshBtt:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 40px 0 rgba(0,0,0,0.19);
  }

  .buttonDiv
  {
    justify-content: center;
    display:flex;
    flex-direction: row;
  }

  .sideDiv {
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-basis: 200px;
    position: relative;
  }
  
  .mainDiv {  
    
    flex: 70%;
    background-color: white;
    padding: 20px;
    
  }

  .sortDiv {
    background-color: #f1f1f1;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-basis: 200px;
    justify-content: center;
  }